@charset "UTF-8";

/* Initial styling and reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font: normal bold 1em poppins;
    height: 100vh;
    background-color: #000000;
    background-image: linear-gradient(180deg, rgb(49, 49, 49), #446f6b);
    display: flex;
    align-items: center;
}

.container {
    width: 680px;
    height: 680px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 0 15px;
    background-color: #212121;
    box-shadow: 2px 2px 2.5px #212121;
    transition: width .7s;
}

.container > header .btn-add-container .btn-add {
    color: #ffffff;
    font-weight: 100;
    font-size: 30px;
    user-select: none;
    cursor: pointer;
}

.container > header .title {
    font-size: 1.1em;
    color: #ffffff;
    user-select: none;
    animation-name: slideRight;
    animation-duration: 1.1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.container > header .search-box > #searchtxt {
    outline: none;
    border: none;
    width: 100%;
    padding: 16px;
    border-radius: 7px;
    background: #444444;
    color: #ffffff;
    background-image: url('../assets/icon/lupa.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 17px;
    background-origin: content-box;
}

.container > header .search-box > #searchtxt::placeholder {
    color: #ffffff;
    font-size: 17px;
    font-family: poppins;
    font-weight: 300;
}

.container main > .ilustration {
    margin: 10px auto;
    width: 390px;
}

.container main > .ilustration img {
    width: 100%;
    transform: scale(0);
    animation-name: popup;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

.info p {
    text-align: center;
    color: #bfbfbf;
    font-size: 12px;
    font-weight: 400;
    user-select: none;
}

/* Animações */
@keyframes slideRight {
    from {
        transform: translateX(-680px);
        opacity: 0;
    }
    
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes popup {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(150%);
    }

    100% {
        transform: scale(100%);
    }
}

.error {
    color: #506d63;
    text-align: left;
    background-color: #282c23;
    padding: 2px 13px;
    margin: 15px auto;
    /* border: solid 2px ; */
    border-radius: 5px;
    text-transform: uppercase;
    animation: pisca;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: fit-content;
}

@keyframes pisca {
    from {
        color: #282c23;
    }
    to {
        color: rgb(255, 112, 112);
    }
}